
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1738f5;
$indigo: #455acf;
$purple: #E000C0;
$pink:#E000C0;
$red: #dd1c15;
$orange: #FF7652;
$yellow: #ffed4a;
$green: #22cf6a;
$teal: #39cabc;
$cyan: #54adf5;
$inputcolor: #555555; 
$textcolor: #555555; 
$bgcolor: #f9f9f9; 
